<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="page-header text-center">
        <h1><span class="fa fa-heart"></span>Play Game</h1>
        <a href="/" class="btn btn-default btn-sm">One Player</a>
        <a href="/" class="btn btn-default btn-sm">Two Players</a>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <h3>You Won</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].tag %></span>
              <span><%= messages[i].bill %></span>
              <span><%= messages[i].dicuss %></span>
              <span><%= messages[i].background %></span>
              <span class="hide"><%= messages[i].thumbUp %></span>
              <span class="hide"><%= messages[i].thumbDown%></span>
              <span><%= (messages[i].thumbUp - messages[i].thumbDown)%></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input class="form-control" type="text" placeholder="tag"value="" name="tag">
            <input class="form-control" type="text" placeholder="bill" name="bill">
            <input class="form-control" placeholder="dicuss" type="text" name="dicuss" value="">
            <input class="form-control" placeholder="background" type="text" name="background" value="">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
