<!doctype html>
<html>
<head>
  <title>21 Savage Fan Site</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="col-sm-6">
      <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <% if (user.local.email) { %>
              <p>
                  <strong>id</strong>: <%= user._id %><br>
                  <strong>email</strong>: <%= user.local.email %><br>
                  <strong>password</strong>: <%= user.local.password %>
              </p>

              <a href="/unlink/local" class="btn btn-default">Unlink</a>
          <% } else { %>
              <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>

      </div>
  </div>
  <div class="container">
    <div class="page-header text-center">
      <h2><span class="fa fa-anchor"></span> Profile Page</h2>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="page-header text-center">
      <!-- <form class="" action="/messages" method="post">
        <input type="text" name="gamesPlayed" value="gamesPlayed" plac>
        <input type="text" name="playerOneWinner" value="playerOneWinner">
        <input type="text" name="playerOneLosts" value="playerOneLosts">
        <button type="submit"><span class="fa fa-heart"></span>Play Game</button>
      </form> -->
      <!-- <h3><span class="fa fa-heart"></span>Play Game</h3> -->

      <a href="/game" class="btn btn-default btn-sm"><span class="fa fa-heart"></span>PlayGame</a>
      <!-- <a href="/" class="btn btn-default btn-sm">Two Players</a> -->
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Games Played</h3>
        <span><%= messages.length %></span>
      </div>
      <div class="col-sm-6">
        <h3>Games Won</h3>
        <span><%= wins %></span>
      </div>
      <div class="col-sm-6">
        <h3>Games Lost</h3>
        <span><%= losses %></span>


      </div>



      <script src="main.js"></script>

</body>
</html>
